@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '/public/fonts/fonts.css';

:root {
  --white-color: #ffffff !important;
  --green-color: #9fef00 !important;
  --gray-color: #a4b1cd !important;
  --red-color: #ff3e3e !important;

  --background-root: #141d2b !important;
  --background-navbar: #101927 !important;
  --background-container: #1a2332 !important;
  --background-red: #2f1e2a !important;
  --background-red-hover: #41222c !important;

  --border-color: #202837 !important;

  --google-blue: #4285f4 !important;
  --google-red: #ea4335 !important;
  --google-yellow: #fbbc05 !important;
  --google-green: #34a853 !important;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

* ::-webkit-scrollbar {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.5;
  text-wrap: balance;
  background: var(--background-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'NeueHaasUnica', Roboto, sans-serif;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.portfolioContent::-webkit-scrollbar {
  height: 7px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--green-color) var(--gray-color);
}

.portfolioContent::-webkit-scrollbar-thumb {
  background-color: var(--green-color);
}

.portfolioContent::-webkit-scrollbar-track {
  background-color: var(--gray-color);
}
